<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Internship Finder</h1>
    </header>
    <div class="container">
        <div class="main-actions">
            <a href="{{ url_for('post') }}"><button>Post an Internship</button></a>
            <a href="{{ url_for('find') }}"><button>Find Internships</button></a>
            <a href="{{ url_for('manage') }}"><button>Manage Internships</button></a>
        </div>
    </div>
    <footer>
        &copy; 2024 Raghav K.R
    </footer>
</body>
</html>
